.app {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app > div {
  height: 250px;
}

.drop {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.redered_title {
  font-size: 30px;
}